/*
  DIAGNOSTIC STYLING
*/
body {
  background: gray;
}


main{
  display: flex;
  justify-content: center; 
}

iframe {
  border: solid maroon 5px; 
  height: 400px; 
  width: 700px; 
}

/* Your Awesome Scripts */
